<div flex layout="column" layout-fill>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button ng-click="vm.goback('home')" class="md-icon-button" aria-label="back">
                <i class="material-icons md-light">arrow_back</i>
            </md-button>

            <h2 flex md-truncate>My Fitness Plan</h2>
        </div>
    </md-toolbar>
    <md-content class="md-padding" flex layout="column">
        
            <h1>Please enter your information:</h1>
            
            <md-input-container>
              <label>Height(cm)</label>
              <input ng-model="user.height" type="number">
            </md-input-container>
      
            <md-input-container>
              <label>Weight(kg)</label>
              <input ng-model="user.weight" type="number">
            </md-input-container>

            <h2>BMI: {{user.weight / ( (user.height/100) * (user.height/100) ) | number : 2}}</h2>
          
            <md-button class="md-raised md-primary" ng-click="vm.gotoWorkout()">Generate</md-button>
    </md-content>
</div>