<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
      <i class="material-icons md-light">menu</i>
    </md-button>

    <h2 flex md-truncate>My Fitness Plan</h2>
  </div>
</md-toolbar>

<!-- <md-button ng-click="app.go()" class="md-raised md-primary">Primary</md-button> -->
  