/* styles in src/style directory are applied to the whole page */
body {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

a {
  color: #03A9F4;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  /* margin-top: 50px; */
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

ui-view{
  height: 100%;
  width: 100%;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }