<style scoped>
    loading {
        flex: 1;
    }

    md-progress-circular {
        margin: 0 auto;
    }
</style>
<div layout-fill layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate" class="md-accent"></md-progress-circular>
</div>