<div flex layout="column" layout-fill>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button ng-click="vm.goback('home')" class="md-icon-button" aria-label="back">
                <i class="material-icons md-light">arrow_back</i>
            </md-button>

            <h2 flex md-truncate>{{vm.workout.name}}</h2>
        </div>
    </md-toolbar>
    <md-content class="md-padding" layout-xs="column" layout="column" flex>

        <loading ng-show="vm.loading"></loading>
        <div ng-show="!vm.loading && !vm.error">
            <!-- <img ng-src="{{vm.workout.imageURL}}" style="width: 100%; height: 100%;" class="md-card-image" alt="Washed Out"> -->
            <p ng-bind-html="vm.desc"></p>
            <!-- <p>{{vm.workout.workout}}</p>  -->
            <img style="width: 100%; height: 100%;" ng-src="{{vm.workout.gifUrl}}">
        </div>

    </md-content>

</div>