<div flex layout="column" layout-fill>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button ng-click="vm.goback('home')" class="md-icon-button" aria-label="back">
                <i class="material-icons md-light">arrow_back</i>
            </md-button>
            <h2 flex md-truncate>{{vm.period}}天訓練菜單({{vm.goal === 'gainMuscle'? '增肌' : '減脂'}})</h2>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-content class="md-padding" flex layout="column">
            <loading ng-show="vm.loading"></loading>
            <div ng-show="!vm.loading && !vm.error && vm.workouts.length > 0">
                <!-- <h1>{{vm.period}}天訓練菜單({{vm.goal === 'gainMuscle'? '增肌' : '減脂'}})</h1> -->
                <div layout="column" layout-xs="column">
                    <md-select placeholder="天數" ng-model="vm.day" style="width: 100px;" ng-change="vm.selectDay()">
                        <md-option ng-repeat="(k, v) in vm.workout.day" ng-value="v">{{v}}</md-option>
                    </md-select>
                    <!-- <span flex="5"></span> -->
                    <h3>
                        <span ng-if="vm.goal === 'gainMuscle'">每個動作為5組 每組8~12下</span>
                        <span ng-if="vm.goal === 'loseFat'">每個動作為4組 每組12~15下</span>
                    </h3>
                </div>

                <md-list flex>
                    <md-list-item ng-click="vm.gotoDetail($index)" ng-class="{selectedIndex: vm.selectedIndex===$index}" class="md-2-line" ng-repeat="workout in vm.workouts"
                        ng-click="null">
                        <img ng-src="{{workout.gifUrl}}" class="md-avatar" />
                        <div class="md-list-item-text" layout="column">
                            <h3>{{workout.name}}</h3>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </div>

        </md-content>
    </div>
</div>