home{
    height: 100%;

    .cc-selector input{
        margin:0;padding:0;
        -webkit-appearance:none;
           -moz-appearance:none;
                appearance:none;
    }
    
    .cc-selector-2 input{
        position:absolute;
        z-index:999;
    }
    
    .visa{background-image:url(../../public/img/male.jpeg);}
    .mastercard{background-image:url(../../public/img/female.jpeg);}
    
    .cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
    .cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
        -webkit-filter: none;
           -moz-filter: none;
                filter: none;
                box-shadow: 0 0 3px 3px #090;
                transform: 
                rotateZ(-10deg) 
                rotateX(10deg);
    }
    .drinkcard-cc{
        cursor:pointer;
        background-size:contain;
        background-repeat:no-repeat;
        display:inline-block;
        width:100px;
        height:100px;
        -webkit-transition: all 100ms ease-in;
           -moz-transition: all 100ms ease-in;
                transition: all 100ms ease-in;
        -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
           -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
                filter: brightness(1.8) grayscale(1) opacity(.7);
                
    }
    .drinkcard-cc:hover{
        -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
           -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
                filter: brightness(1.2) grayscale(.5) opacity(.9);
                transform: 
                rotateZ(-10deg) 
                rotateX(10deg);
                box-shadow: 0 0 3px 3px #090;
    }
    
    /* Extras */
    a:visited{color:#888;border: 1px dashed #444;}
    a{color:#444;text-decoration:none;}
    p{margin-bottom:.3em;}
    
    .cc-selector-2 input{ margin: 5px 0 0 12px; }
    .cc-selector-2 label{ margin-left: 7px; }
    span.cc{ color:#6d84b4 }
}