<div flex layout="column" layout-fill>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button ng-click="vm.toggleLeft()" class="md-icon-button" aria-label="Settings">
                <i class="material-icons md-light">menu</i>
            </md-button>

            <h1 flex md-truncate>訓練菜單</h1>
        </div>
    </md-toolbar>
    <img src="/img/banner.jpg" alt="Banner Image" />

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Settings</h1>
        </md-toolbar>

        <md-content>
            <md-list flex>
                <md-list-item class="md-1-line" ng-click="null">
                    <p>Setup workouts</p>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>

    </md-sidenav>

    <md-content class="md-padding" layout="row" layout-wrap>

        <md-card flex flex-xs="100">
            <md-card-title>
                <md-card-title-text>
                    <h2>選擇性別：{{vm.person.gender === 'M'? '男' : '女'}}</h2>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div class="cc-selector">
                    <input id="visa" type="radio" name="credit-card" ng-model="vm.person.gender" value="M" />
                    <label class="drinkcard-cc visa" for="visa"></label>
                    <input id="mastercard" type="radio" name="credit-card" ng-model="vm.person.gender" value="F" />
                    <label class="drinkcard-cc mastercard" for="mastercard"></label>
                </div>
            </md-card-content>
        </md-card>

        <md-card flex flex-xs="100">
            <md-card-title>
                <md-card-title-text>
                    <h2>選擇訓練目標</h2>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div class="cc-selector">
                    <md-radio-group ng-model="vm.person.goal">

                        <md-radio-button value="gainMuscle">增肌</md-radio-button>
                        <md-radio-button value="loseFat">減脂</md-radio-button>

                    </md-radio-group>
                </div>
            </md-card-content>
        </md-card>

        <md-card flex flex-xs="100">
            <md-card-title>
                <md-card-title-text>
                    <h2>選擇訓練天數/週</h2>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div class="cc-selector">
                    <md-radio-group ng-model="vm.person.period">

                        <md-radio-button value="2">兩天</md-radio-button>
                        <md-radio-button value="3">三天</md-radio-button>
                        <md-radio-button value="4">四天</md-radio-button>

                    </md-radio-group>
                </div>
            </md-card-content>
        </md-card>

    </md-content>
    <md-button class="md-raised md-primary" ng-click="vm.next()">下一步</md-button>
</div>